*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body-text {
    display: flex;
    font-family: "montserrat" , sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: aqua;
    font-family: "montserrat" , sans-serif;
    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width:30%;
}

.nav-links li {
    list-style: none;
}

.heading{
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    color: beige;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
}

.img-safari {
    width: 1900px;
    height: 800px;
}

.img-back2{
    width: 1800px;
    
}

.img-back{
    width: 1900px;
    height: 600px;
}